@model IEnumerable<Ogrenci>

<h2>Öğrenci Listesi</h2>

<a href="/Ogrenci/Create" class="btn btn-primary">Öğrenci Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.Ogrencild)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciSoyad)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>

                <td>@Html.DisplayFor(modelItem => item.Ogrencild)</td>
                <td>@Html.DisplayFor(modelItem => item.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem => item.OgrenciSoyad)</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.Ogrencild">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@item.Ogrencild">Delete</a>
                </td>

            </tr>

        }
    </tbody>
</table>